<mat-sidenav-container class="sidenav-container">
<!-- *ngIf="true" -->
    <mat-sidenav #sidenav="matSidenav" opened>

        <img class="avatar" [src]="userView.avatar" />
        <h4 class="name">
            <mat-icon>person</mat-icon>
            {{userView.first_name}} {{userView.last_name}}
        </h4>
        <p class="designation">
            <mat-icon>email</mat-icon>
            {{userView.email}}
        </p>
        <mat-divider></mat-divider>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
            <span>Close</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidenav-content">
            Main content
            <button (click)="sidenav.toggle()">cerrar</button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>