<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav="matSidenav">

        <img class="avatar" [src]="userView.avatar"/>
        <h4 class="name">
            <mat-icon color="primary">person</mat-icon>
            {{userView.first_name}} {{userView.last_name}}
        </h4>
        <p class="designation">
            <mat-icon color="primary">email</mat-icon>
            {{userView.email}}
        </p>
        <button mat-icon-button color="primary" aria-label="Edit information"
            matTooltip="Edit information" matTooltipPosition="right">
            <mat-icon>edite</mat-icon>
        </button>

        <mat-divider></mat-divider>
            <app-posts [idUser]=userView.id></app-posts>
        <mat-divider></mat-divider>

        <button color="primary" mat-button class="menu-button" (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
            <span>Close</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidenav-content">
            Main content
            <button (click)="sidenav.toggle()">cerrar</button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>