<div mat-subheader>
    <h3>Posts: {{postsUserLength}}</h3>
</div>
<mat-list>
    <mat-list-item *ngFor="let post of postsUser; let i = index">
        <div mat-line class="post-title">#{{i + 1}} - {{post.title}}</div>
        <div mat-line class="post-body">
            <p> {{ post.body }} </p>
        </div>
        <button (click)="deletePost(post.id)" mat-icon-button color="primary" matTooltip="Delete post" matTooltipPosition="right">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>

    <mat-list-item *ngIf="!postsUserLength">
        <div mat-line class="post-title">user has no post</div>
    </mat-list-item>
</mat-list>